@model IEnumerable<LibraryMVC.Models.book>

@{
    ViewBag.Title = "User Books";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.issuedFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.issuedTo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            string dueDateExpiredStyle = "";
            if (@DateTime.Now > item.issuedTo)
            {
                dueDateExpiredStyle = "background-color:#FF0000";
            }
            <tr style=@dueDateExpiredStyle>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.issuedFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.issuedTo)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.id, controller = "Book", action = "Details" }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Return", "Return", new { id = item.id, controller = "Book", action = "Return" }, new { @class = "btn btn-success" })
                </td>
            </tr>
        }

    </table>
</body>
</html>
