@model LibraryMVC.Models.user
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <h4 class="text-center">Login <span class="glyphicon glyphicon-log-in"></span></h4>
    <hr />
    <table align="center">
        <tr>
            <td>
                <divclass class="text-center">
                    <div class="container">
                        @ViewBag.Message
                        @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
                        {
                            @("User Email")
                            <div class="form-group">
                                <input name="email" type="text" placeholder="Email" class="form-group" />
                            </div>
                            @("Password")
                            <div class="form-group">
                                <input name="password" type="password" placeholder="Password" class="form-group" />
                            </div>
                            <input type="submit" class="btn btn-primary" value="Login">
                        }
                    </div>
                    <br />
                    <div class="container" style="background-color:#f1f1f1">
                        <span class="psw">Don't have an <a href="#">@Html.ActionLink("account?", "Signup", "Signup")</a></span>
                    </div>
                    <div class="container" style="background-color:#f1f1f1">
                        <span class="psw">Login as <a href="#">@Html.ActionLink("admin", "AdminLogin", "Auth")</a></span>
                    </div>
            </td>
        </tr>
    </table>

    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Library</p>
        </footer>
    </div>

</body>
</html>
